<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AmplifyJS" version="1.1.0" targetFramework="net45" />
  <package id="FM" version="2.4.2" targetFramework="net45" />
  <package id="FM.IceLink" version="2.4.2" targetFramework="net45" />
  <package id="FM.IceLink.Simple" version="2.4.2" targetFramework="net45" />
  <package id="FM.IceLink.WebRTC" version="2.4.2" targetFramework="net45" />
  <package id="jQuery" version="1.8.3" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.9.2" targetFramework="net45" />
  <package id="json2" version="1.0.2" targetFramework="net45" />
  <package id="JuiceUI" version="1.1.1" targetFramework="net45" />
  <package id="OMS.Ice" version="1.6.0.29511" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Plugins.ProtoBuf" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
</packages>